<div class="modal fade" id="editAdmin" tabindex="-1" role="dialog" aria-labelledby="editAdmin" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">New/Edit Admin: <a href="#" id="adminname" data-bind="editable: currentadmin().name" data-type="text" data-pk="1" data-title="Enter Admin Name">New Admin</a></h4>
			</div>
			<div class="modal-body">
				<div class="box-1" data-bind="with: currentadmin">
					<h3 data-bind="text: persisted() ? 'Edit Admin' : 'New Admin'">New Admin</h3>
					<form class="form-horizontal" role="form" novalidate action="javascript:void(0)" data-bind="jqvalidation: { submitSuccess: $root.saveadmin }">
						<div class="form-group control-group">
							<label for="adminname" class="col-sm-3 control-label">Admin Name</label>
							<div class="col-sm-9">
								<input type="text" required data-validation-required-message="Enter a admin name" class="form-control" id="adminname" placeholder="Admin Name" data-bind="value: name">
							</div>
							<div class="controls popover left">
								<div class="arrow"></div>
								<div class="popover-title"><span class="glyphicon glyphicon-exclamation-sign"></span><span> </span><span class="help-block"></span></div>
							</div>
						</div>
						<div class="form-group control-group">
							<div class="col-sm-3 control-label">Roles</div>
							<div class="col-sm-9">
								<!-- ko foreach: roles -->
								<div class="label-selects label label-success">
									<a class="glyphicon glyphicon-remove" data-bind="click: $root.removerole"></a>
									<span data-bind="text: $data"></span>
								</div>
								<!-- /ko -->
								<!-- ko foreach: availableRoles -->
								<div class="label-selects label label-info">
									<a class="glyphicon glyphicon-plus" data-bind="click: $root.addrole"></a>
									<span data-bind="text: $data"></span>
								</div>
								<!-- /ko -->
							</div>
						</div>
						<div class="form-group control-group">
							<div class="col-sm-3 control-label">Publishers</div>
							<div class="col-sm-9">
								<!-- ko foreach: publishers -->
								<div class="label-selects label label-success">
									<a class="glyphicon glyphicon-remove" data-bind="click: $root.delpublisher"></a>
									<span data-bind="text: name"></span>
								</div>
								<!-- /ko -->
								<!-- ko foreach: $root.availablePublishers -->
								<div class="label-selects label label-info">
									<a class="glyphicon glyphicon-plus" data-bind="click: $root.addpublisher"></a>
									<span data-bind="text: name"></span>
								</div>
								<!-- /ko -->
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save Admin</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-bind="click: $root.deleteadmin"><span class="glyphicon glyphicon-remove"></span> Delete</button>
				<button type="button" class="btn btn-default" data-bind="click: $root.clearadmin">Cancel</button>
			</div>
		</div>
	</div>
</div>
