@(publishers: Seq[Publisher])
<div class="modal fade" id="editCampaign" tabindex="-1" role="dialog" aria-labelledby="editCampaign" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-hidden="true" data-bind="click: clearcampaign">&times;</button>
				<h4 class="modal-title">New/Edit Campaign</h4>
			</div>
			<div class="modal-body" data-bind="wizard: campaignstep.currentValue">
				<h3 class="m-null-top m-btm">Campaign Name: <a href="#" id="campaignename" data-bind="editable: currentcampaign().name" data-type="text" data-pk="1" data-title="Enter Campaign Name">New Campaign</a></h3>
				<div class="wizard">
					<ul class="steps">
						<li data-target="#step1"><span class="badge badge-info">1</span>Step 1<span class="chevron"></span></li>
						<li data-target="#step2"><span class="badge">2</span>Step 2<span class="chevron"></span></li>
						<li data-target="#step3"><span class="badge">3</span>Step 3<span class="chevron"></span></li>
					</ul>
				</div>
				<div class="step-content">
					<div id="step1" class="step-pane active">
						<h3>Select Audience</h3>
						<div class="box-strips">
							<div class="clearfix">
								<div class="website-block-wrapper" data-bind="visible: currentaudiences().length!=0">
									<div class="jcarousel-wrapper">
										<div class="jcarousel" data-bind="carousel: audienceposition">
											<ul data-bind="foreach: currentaudiences">
												<li>
													<a href="javascript:void(0)" class="website-block" data-bind="click: $root.selectaudience, css: {'selected': selected(), 'active': active()}">
														<span class="website-name" data-bind="text: name"></span>
														<span class="thumbnail-site">
															<img alt="" src="@routes.RemoteAssets.at("images/thumbnail-site.gif")" />
															<span></span>
														</span>
														<span class="website-audience"><span data-bind="text: count">0</span> Users <span class="glyphicon glyphicon-eye-open"></span></span>
													</a>
												</li>
											</ul>
										</div>
										<a href="#" class="jcarousel-control-prev" data-bind="click: audienceposition.previous, css: { 'inactive': audienceposition.isFirst }">&lsaquo;</a>
										<a href="#" class="jcarousel-control-next" data-bind="click: audienceposition.next, css: { 'inactive': audienceposition.isLast }">&rsaquo;</a>
									</div>
								</div>
							</div>
						</div>

						<h3>Select Package</h3>
						<div class="box-strips">
							<div class="clearfix">
								<div class="website-block-wrapper">
									<div class="website-block-add-wrapper">
										<a href="javascript:void(0)" class="website-block-add" data-bind="click: newpackage">
											<span class="website-name">Add New Package</span>
											<span class="thumbnail-site">
												<img alt="" src="@routes.RemoteAssets.at("images/thumbnail-add.gif")" />
											</span>
										</a>
									</div>
									<div class="jcarousel-wrapper with-add-block" data-bind="visible: currentpackages().length!=0">
										<div class="jcarousel" data-bind="carousel: packageposition">
											<ul data-bind="foreach: currentpackages">
												<li>
													<a href="javascript:void(0)" class="website-block" data-bind="click: $root.selectpackage, css: {'selected': selected(), 'active': active()}">
														<span class="website-name" data-bind="text: name"></span>
														<span class="thumbnail-site">
															<img alt="" src="@routes.RemoteAssets.at("images/thumbnail-site.gif")" />
															<span></span>
														</span>
														<span class="website-audience"><span data-bind="text: count">0</span> Ad Impressions <span class="glyphicon glyphicon-eye-open"></span></span>
													</a>
												</li>
											</ul>
										</div>
										<a href="#" class="jcarousel-control-prev" data-bind="click: packageposition.previous, css: { 'inactive': packageposition.isFirst }">&lsaquo;</a>
										<a href="#" class="jcarousel-control-next" data-bind="click: packageposition.next, css: { 'inactive': packageposition.isLast }">&rsaquo;</a>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-default m-top" data-bind="visible: currentpackage().transientnew">
							<div class="panel-heading">
								<h4 class="panel-title">Create Custom AD Package</h4>
							</div>
							<div class="panel-body">
								<form class="form" role="form" data-bind="with: currentpackage">
									<div class="row">
										<div class="col-sm-6">
											<div class="row">
												<div class="col-xs-6">
													<div class="form-group">
														<label for="buycpm">Buy CPM</label>
														<input type="text" class="form-control" id="buycpm" placeholder="" data-bind="value: buyCpm.extend({ currency: 'us' })">
													</div>
													<div class="form-group">
														<label for="salescpm">Sales CPM</label>
														<input type="text" class="form-control" id="salescpm" placeholder="" data-bind="value: salesCpm.extend({ currency: 'us' })">
													</div>
												</div>
												<div class="col-xs-6 input-daterange" data-bind="datepicker: dates, datepickerOptions: { calendarWeeks: true, autoclose: true, todayHighlight: true }">
													<div class="form-group">
														<label for="startdate">Start Date</label>
														<div class="input-group date">
															<input type="text" class="form-control span2 date-picker" id="startdate" placeholder="Enter start date ..."><span class="input-group-addon btn"><span class="glyphicon glyphicon-th"></span></span>
														</div>
													</div>
													<div class="form-group">
														<label for="enddate">End Date</label>
														<div class="input-group date">
															<input type="text" class="form-control span2 date-picker" id="enddate" placeholder="Enter end date ..."><span class="input-group-addon btn"><span class="glyphicon glyphicon-th"></span></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label for="audiencereach">Audience Reach</label>
												<div class="slider">
													<input id="audiencereach" type="text" class="form-control" value="" data-bind="slider: reach, sliderOptions: { min: 0, max: 100, step: 1, value: 50, orientation: 'horizontal', selection: 'after', tooltip: 'hide' }"/>
												</div>
											</div>
											<div class="form-group">
												<label for="adimpressiongoal">AD Impression Goal</label>
												<input type="text" class="form-control" id="adimpressiongoal" placeholder="Enter goal" data-bind="value: count">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<button type="button" class="btn btn-default" data-bind="click: $root.clearpackage">Cancel</button>
											<button type="submit" class="btn btn-primary" data-bind="click: $root.savepackage"><span class="glyphicon glyphicon-floppy-disk"></span> Save Settings</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<h3 class="clearfix" data-bind="visible: currentcampaign().package">Expected Campaign Results: <span class="pull-right"><span class="legend-revenu">$<!-- ko text: results().revenue --><!-- /ko --> Revenue</span> - <span class="legend-ad-spent">$<!-- ko text: results().adspend --><!-- /ko --> AD Spent</span> = <span class="legend-profit">$<!-- ko text: results().profit --><!-- /ko --> Profit</span></span></h3>
					</div>

					<div id="step2" class="step-pane">
						<div class="box-drag-and-drop-banner text-center">
							<h3>Drag and Drop Banner Here</h3>
							<div><img src="@routes.RemoteAssets.at("images/banner-examples.png")" alt="" /></div>
							<p>You can drag multiple images here. We don't accept folders or compressed (zip) items.</p>
						</div>
						<div class="actions text-center m-top">
							<span class="btn btn-success fileinput-button">
								<span class="glyphicon glyphicon-plus"></span>
								<span>...or choose files</span>
								<input type="file" multiple="" data-bind="fileupload: addcreative, fileuploadOptions: { route: creativeRoute(), dropZone: '.box-drag-and-drop-banner' }">
							</span>
						</div>
						<h3>Your Uploads</h3>
						<div class="row">
							<div class="col-md-12" data-bind="with: currentcampaign()">
								<table class="table table-striped table-bordered table-vertical">
									<tbody data-bind="foreach: creatives">
										<tr>
											<td class="col-sm-2 col-xs-4"><img src="@routes.RemoteAssets.at("images/tmp-banner-your-uploads.png")" alt="" data-bind="attr: { 'src': previewUrl }"/></td>
											<td class="col-sm-10 col-xs-8">
												<div class="row">
													<div class="col-xs-12 col-sm-9" data-bind="text: name">
													</div>
													<div class="col-xs-12 col-sm-3 text-right">
														<button class="btn btn-danger btn-xs" type="button" data-bind="click: $root.removecreative"><span class="glyphicon glyphicon-remove"></span> Delete</button>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div id="step3" class="step-pane">
						<h3>Schedule Campaign</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan placerat augue vel semper. Donec eu tortor sit amet lectus malesuada mattis eu at leo. Curabitur aliquam eros nisi, non sollicitudin diam convallis vitae. Sed laoreet felis ac sem rutrum dapibus. Integer mollis placerat diam, eu lacinia nisi sagittis in. Phasellus nibh ipsum, accumsan eu magna ut, pretium pellentesque quam. Cras accumsan eget dui a blandit. Donec eget urna mattis, interdum leo sit amet, facilisis tortor. Ut varius cursus euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi interdum mollis dui et tempor.</p>
					</div>
				</div>
				<div class="actions text-right m-top">
					<button class="btn btn-prev" type="button" data-bind="css: {'disabled': campaignstep.isFirst }"><span class="glyphicon glyphicon-arrow-left"></span> Prev</button>
					<button class="btn btn-next" type="button" data-last="Finish" data-bind="css: {'disabled': campaignstep.isLast }">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-bind="visible: currentcampaign().state()=='active', click: pausecampaign"><span class="glyphicon glyphicon-pause"></span> Pause</button>
				<button type="button" class="btn btn-danger pull-left" data-bind="visible: currentcampaign().state()=='paused', click: activatecampaign"><span class="glyphicon glyphicon-play"></span> Activate</button>
				<button type="button" class="btn btn-default" data-bind="click: clearcampaign">Cancel</button>
				<button type="button" class="btn btn-primary" data-bind="click: savecampaign"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
			</div>
		</div>
	</div>
</div>
