<div class="modal fade" id="editCookie" tabindex="-1" role="dialog" aria-labelledby="editCookie" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit Cookie: <a href="#" id="cookiename" data-bind="editable: currentcookie().name" data-type="text" data-pk="1" data-title="Enter Cookie Name">New Cookie</a></h4>
			</div>
			<div class="modal-body">
				<div class="box-1" data-bind="with: currentcookie">
					<h3 data-bind="text: persisted() ? 'Edit Admin' : 'New Admin'">New Cookie</h3>
					<form class="form-horizontal" role="form" novalidate action="javascript:void(0)" data-bind="jqvalidation: { submitSuccess: $root.savecookie }">
						<div class="form-group control-group">
							<label for="cookiename" class="col-sm-3 control-label">Cookie Name</label>
							<div class="col-sm-9">
								<input type="text" required data-validation-required-message="Enter a cookie name" class="form-control" id="cookiename" placeholder="Cookie Name" data-bind="value: name">
							</div>
							<div class="controls popover left">
								<div class="arrow"></div>
								<div class="popover-title"><span class="glyphicon glyphicon-exclamation-sign"></span><span> </span><span class="help-block"></span></div>
							</div>
						</div>
						<div class="form-group control-group">
							<label for="cookiecode" class="col-sm-3 control-label">Code</label>
							<div class="col-sm-9">
								<textarea class="form-control" id="cookiename" placeholder="Enter cookie code" data-bind="value: content"></textarea>
							</div>
							<div class="controls popover left">
								<div class="arrow"></div>
								<div class="popover-title"><span class="glyphicon glyphicon-exclamation-sign"></span><span> </span><span class="help-block"></span></div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save Cookie</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-bind="click: $root.deletecookie"><span class="glyphicon glyphicon-remove"></span> Delete</button>
				<button type="button" class="btn btn-default" data-bind="click: $root.clearcookie">Cancel</button>
			</div>
		</div>
	</div>
</div>
