@(model: String)
<div class="col-xs-6" data-bind="if: @{model}.hasData">
	<p class="pagination-fix">
		<strong class="pagination-text">Displaying: <span
			data-bind="text: @{model}.fromIndex"></span> - <span
			data-bind="text: @{model}.toIndex"></span> of <span
			data-bind="text: @{model}.maxIndex"></span></strong>
	</p>
</div>
<div class="col-xs-6" data-bind="if: @{model}.hasData">
	<ul class="pagination pagination-sm pull-right m-null-top">
		<li><a href="javascript:void(0)"
			data-bind="click: @{model}.previous">&laquo;</a></li>
		<!-- ko foreach: @{model}.visiblePages -->
		<!-- ko if: active -->
		<li class="active"><a href="javascript:void(0)"
			data-bind="click: $parent.@{model}.gotoPage, text: page"></a></li>
		<!-- /ko -->
		<!-- ko ifnot: active -->
		<li><a href="javascript:void(0)"
			data-bind="click: $parent.@{model}.gotoPage, text: page"></a></li>
		<!-- /ko -->
		<!-- /ko -->
		<li><a href="javascript:void(0)"
			data-bind="click: @{model}.next">&raquo;</a></li>
	</ul>
</div>
