@(model: String)
<div class="col-xs-6">
	<select class="form-control m-btm" data-bind="options: @{model}.availableCategories, value: @{model}.category, event: { change: @{model}.search }">
	</select>
</div>
<div class="col-xs-6">
	<form role="search" action="javascript:void(0)">
		<div class="input-group m-btm">
			<input type="text" data-bind="value: @{model}.query" placeholder="Search ..." class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-primary" data-bind="click: @{model}.search" type="button">Search</button>
			</span>
		</div>
	</form>
</div>
