@(title: String)(header: Html)(content: Html)
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>@title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="@routes.MainController.minProdWebJarAssetsAt("css/bootstrap.css")">
	<link rel="stylesheet" media="screen" href="@routes.MainController.minProdWebJarAssetsAt("css/bootstrap-editable.css")">
	<link rel="stylesheet" media="screen" href="@routes.MainController.minProdWebJarAssetsAt("nv.d3.css")" >
	<link rel="stylesheet" media="screen" href="@routes.MainController.minProdWebJarAssetsAt("css/jquery.fileupload-ui.css")" >
	<link rel="stylesheet" media="screen" href="@routes.RemoteAssets.at("stylesheets/main.css")">
	<link rel="shortcut icon" href="@routes.RemoteAssets.at("images/favicon.ico")">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div id="loader" style="background:url(@routes.RemoteAssets.at("images/loader.gif"))" data-bind="fadeVisible: loader.isNotFirst.extend({throttle:200})"></div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.MainController.dashboard"><span>Audience Extender</span></a>
		</div>
		<div class="navbar-collapse collapse">
			@header
		</div>
	</div>
</nav>

@content

<div class="footer">
	<div class="container">
		<footer>
			<!--
			<p>
				<a href="@routes.MainController.contact">Contact</a>
				<a href="@routes.MainController.policy">Privacy Policy</a>
				<a href="@routes.MainController.tos">Terms of Service</a>
			</p>
			-->
			&copy; Copyright 2013 - Audience Extender LLC
		</footer>
	</div>
</div>

</body>
</html>
