@(admins: Seq[Admin], current: Admin)
@templates.main("Admins") {
@menu.admin("Admins")
@menu.logout(current)
<script type="text/javascript" data-main="@routes.Assets.at("javascripts/admins.js")" src="@routes.WebJarAssets.requirejs"></script>
<script type="text/javascript">
	//<![CDATA[
	window.data = {};
	window.data.admins = @{import play.api.libs.json._;import controllers.AdminController.AdminFormat;Html(Json.toJson(admins).toString());}
	//]]>
</script>
} {
<div class="container m-top">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				@elements.pagination("datatablescroller")
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped table-bordered data-table">
							<thead>
								<tr>
									<th class="sorting">Name</th>
									<th class="sorting">Email</th>
									<th class="sorting">Roles</th>
									<th class="sorting">Publishers</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				@elements.pagination("datatablescroller")
			</div>
		</div>
		<div class="col-md-3">
			<p>
				<button type="button" class="btn btn-default btn-lg btn-block btn-plus" data-toggle="modal" data-target="#editAudience"><div></div><span class="glyphicon glyphicon-plus-sign"></span> New Admin</button>
			</p>
		</div>
	</div>
</div>
}
