@(form: play.api.data.Form[(String,String,String)], current: Admin)(implicit flash: play.api.mvc.Flash)
@templates.public("Contact", homelink = if(current!=null)(routes.MainController.dashboard)else(routes.MainController.base)) {
<ul class="nav navbar-nav">
	<li><a class="scroll" href="@{routes.MainController.index("")}#howitworks">How it works</a></li>
	<li><a class="scroll" href="@{routes.MainController.index("")}#benefits">Benefits</a></li>
	<li><a class="scroll" href="@{routes.MainController.index("")}#pricing">Pricing</a></li>
</ul>
@if(current==null) {
	@menu.login()
} else {
	@menu.public(current)
}
}{
	<div class="container">
		<h2>Contact Us</h2>
		@helper.form(routes.MainController.sendMessage, 'class -> "form-horizontal", 'novalidate -> "") {
		@form.globalError.map { error =>
		<div class="alert alert-danger">@error.message</div>
		}
		@flash.get("error").map { message =>
		<div class="alert alert-danger">@message</div>
		}
		@flash.get("success").map { message =>
		<div class="alert alert-success">@message</div>
		}
		<div class="form-group @{if(form.error("name")){"has-warning"}}">
			<label for="name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" autofocus="" placeholder="Name" class="form-control" id="name" name="name" value="@form("name").value">
			</div>
		</div>
		<div class="form-group @{if(form.error("email")){"has-warning"}}">
			<label for="email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="email" autofocus="" required placeholder="Email" class="form-control" id="email" name="email" value="@form("email").value">
			</div>
		</div>
		<div class="form-group @{if(form.error("msg")){"has-warning"}}">
			<label for="msg" class="col-sm-2 control-label">Message</label>
			<div class="col-sm-10">
				<textarea placeholder="Message" required class="form-control" id="msg" name="msg">@form("msg").value</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary" id="sendbutton">Send Message</button>
			</div>
		</div>
		}
	</div>
}
