@(form: play.api.data.Form[(String,String,String)], admin: Admin)(implicit flash: play.api.mvc.Flash) 
@templates.public("Contact", homelink = if(admin!=null)(routes.MainController.dashboard)else(routes.MainController.base)) {
@if(admin!=null) {
	@menu.public(admin)
}
}{
	<div class="container">
		<h2>Contact Us</h2>
		@helper.form(routes.MainController.sendMessage, 'class -> "form-horizontal") {
		@form.globalError.map { error =>
		<div class="alert alert-danger">@error.message</div>
		}
		@flash.get("error").map { message =>
		<div class="alert alert-danger">@message</div>
		}
		@flash.get("success").map { message =>
		<div class="alert alert-success">@message</div>
		}
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" autofocus="" placeholder="Name" class="form-control" id="name" name="name" value="@form("name").value">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="email" autofocus="" required placeholder="Email" class="form-control" id="email" name="email" value="@form("email").value">
			</div>
		</div>
		<div class="form-group">
			<label for="msg" class="col-sm-2 control-label">Message</label>
			<div class="col-sm-10">
				<textarea placeholder="Message" required class="form-control" id="msg" name="msg">@form("msg").value</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary" id="sendbutton">Send Message</button>
			</div>
		</div>
		}
	</div>
}
