@(publishers: Seq[Publisher], current: Admin)
@templates.main("Dashboard") {
@menu.admin("Dashboard")
@menu.logout(current)
@helper.requireJs(core = routes.WebJarAssets.requirejs.url, module = routes.Assets.at("javascripts/dashboard.audience").url)
<script type="text/javascript">
//<![CDATA[
window.data = {};
window.data.publishers = @{import play.api.libs.json._;import controllers.PublisherController.PublisherFormat;Html(Json.toJson(publishers).toString());}
//]]>
</script>
}{
<div class="header">
	<div class="container">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">Audiences</a></li>
			<li><a href="@routes.MainController.dashboardSelect("campaign")">Campaigns</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row legends">
				<div class="col-sm-4">
					<div class="legend-revenu">
						<span></span> $<span data-bind="text: chartdata.sumrevenue"></span> Revenue
					</div>
				</div>
				<div class="col-sm-4">
					<div class="legend-ad-spent">
						<span></span> $<span data-bind="text: chartdata.sumadspend"></span> Ad spend
					</div>
				</div>
				<div class="col-sm-4">
					<div class="legend-profit">
						<span></span> $<span data-bind="text: chartdata.sumprofit"></span> Profit
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<form class="form-horizontal" role="form">
						<div class="form-group well-fix">
							<label for="selectDate" class="col-sm-2 control-label">Dates</label>
							<div class="col-sm-10">
								<select class="form-control" data-bind="options: chartdaterange.availableDateRanges, value: chartdaterange.dateRange" id="selectDate">
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-8">
					<div class="well well-sm m-null input-daterange">
						<div class="row">
							<div class="col-sm-6">
								<form class="form-horizontal" role="form">
									<div class="form-group m-null">
										<label for="selectDateFrom" class="col-sm-2 control-label">From</label>
										<div class="col-sm-10">
											<input class="form-control date-picker" data-bind="value: chartdaterange.formattedStartDate" id="selectDateFrom" name="start"/>
										</div>
									</div>
								</form>
							</div>
							<div class="col-sm-6">
								<form class="form-horizontal" role="form">
									<div class="form-group m-null">
										<label for="selectDateTo" class="col-sm-2 control-label">To</label>
										<div class="col-sm-10">
											<input class="form-control date-picker" data-bind="value: chartdaterange.formattedEndDate" id="selectDateTo" name="end"/>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="chart" class="dashboard">
						<svg></svg>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3" data-bind="foreach: messages">
			<div class="panel panel-default">
				<div class="panel-heading" data-bind="text: title, click: dismiss"></div>
				<div class="panel-body" data-bind="text: content"></div>
			</div>
		</div>
	</div>
</div>

<div class="secondary">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-xs-6">
						<select class="form-control" data-bind="options: datatablesearchbar.availableCategories, value: datatablesearchbar.category">
						</select>
					</div>
					<div class="col-xs-6">
						<form role="search">
							<div class="input-group">
								<input type="text" data-bind="value: datatablesearchbar.query" placeholder="Search ..." class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-primary" data-bind="click: datatablesearchbar.search" type="button">Search</button>
								</span>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
				    @elements.pagination("datatablescroller")
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped table-bordered m-null data-table">
								<thead>
									<tr>
										<th class="sorting">Name</th>
										<th class="sorting">Status</th>
										<th class="sorting">Revenue</th>
										<th class="sorting">Cost</th>
										<th class="sorting">Start</th>
										<th class="sorting">End</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
				    @elements.pagination("datatablescroller")
				</div>
			</div>
			<div class="col-md-3">
				<p>
					<button type="button" class="btn btn-default btn-lg btn-block btn-plus" data-bind="click: newaudience" data-toggle="modal" data-target="#editAudience"><span></span><span class="glyphicon glyphicon-plus-sign"></span> New Audience</button>
				</p>
				<p>
					<button type="button" class="btn btn-default btn-lg btn-block btn-plus"><span></span><span class="glyphicon glyphicon-plus-sign"></span> Yield Maximiser</button>
				</p>
				<p>
					<button type="button" class="btn btn-default btn-lg btn-block btn-plus"><span></span><span class="glyphicon glyphicon-plus-sign"></span> AD Packages</button>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editAudience" tabindex="-1" role="dialog" aria-labelledby="editAudience" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">New/Edit Audience: <span data-bind="text: currentaudience().name"></span></h4>
			</div>
			<div class="modal-body">
				<p class="h4"><a href="#" id="audiencename" data-bind="editable: currentaudience().name" data-type="text" data-pk="1" data-title="Enter Audience Name">Audience Name</a></p>
				<h3>Select Website</h3>
				<div class="box-strips">
					<div class="row">
						<div class="col-md-2 text-center">
							<div class="website-name"><div>Leads Con Web Retargeting</div></div>
							<a href="#" class="thumbnail-link"><img alt="" src="@routes.Assets.at("images/thumbnail-site.gif")" class="img-responsive thumbnail-site" /></a>
							<div class="website-audience">20.000 Users <span class="glyphicon glyphicon-eye-open"></span></div>
						</div>
						<div class="col-md-2 text-center">
							<div class="website-name"><div>Google.com</div></div>
							<a href="#" class="thumbnail-link selected"><img alt="" src="@routes.Assets.at("images/thumbnail-site.gif")" class="img-responsive thumbnail-site" /></a>
							<div class="website-audience">20.000 Users <span class="glyphicon glyphicon-eye-open"></span></div>
						</div>
						<div class="col-md-2 text-center">
							<div class="website-name"><div>Leads Con Web Retargeting Leads Con Web Retargeting</div></div>
							<a href="#" class="thumbnail-link"><img alt="" src="@routes.Assets.at("images/thumbnail-site.gif")" class="img-responsive thumbnail-site" /></a>
							<div class="website-audience">20.000 Users <span class="glyphicon glyphicon-eye-open"></span></div>
						</div>
						<div class="col-md-2 text-center">
							<div class="website-name"><div>Leads Con Web RetargetingLeadsConWebRetargeting</div></div>
							<a href="#" class="thumbnail-link"><img alt="" src="@routes.Assets.at("images/thumbnail-site.gif")" class="img-responsive thumbnail-site" /></a>
							<div class="website-audience">20.000 Users <span class="glyphicon glyphicon-eye-open"></span></div>
						</div>
						<div class="col-md-2 text-center">
							<div class="website-name"><div>Add New Website</div></div>
							<a href="#" class="thumbnail-link"><img alt="" src="@routes.Assets.at("images/thumbnail-add.gif")" class="img-responsive thumbnail-add" /></a>
						</div>
						<div class="col-md-2 text-center">

						</div>
					</div>
				</div>

				<div class="box-1">
					<h3>New Website</h3>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="websitename" class="col-sm-3 control-label">Website Name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="websitename" placeholder="Website Name">
							</div>
						</div>
						<div class="form-group">
							<label for="trackingcode" class="col-sm-3 control-label">Tracking Code</label>
							<div class="col-sm-9">
								<textarea class="form-control" rows="3" id="trackingcode">Tracking Code here...</textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="col-sm-3 control-label">Send Tracking Code via Email</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-primary">Send to Your Mail</button>
								<button type="submit" class="btn btn-primary">Copy Tracking Code</button>
								<button type="submit" class="btn btn-primary">Save Settings</button>
							</div>
						</div>
					</form>
				</div>

				<div class="box-1">
					<h3>Edit Website</h3>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="websitename" class="col-sm-3 control-label">Website Name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="websitename" placeholder="Google.com" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="trackingcode" class="col-sm-3 control-label">Tracking Code</label>
							<div class="col-sm-9">
								<textarea class="form-control" rows="3" id="trackingcode">Tracking Code here...</textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="col-sm-3 control-label">Send Tracking Code via Email</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-primary">Send to Your Mail</button>
								<button type="submit" class="btn btn-primary">Copy Tracking Code</button>
								<button type="submit" class="btn btn-primary">Save Settings</button>
							</div>
						</div>
					</form>
				</div>

				<div class="m-top-btm">
					<h3>Path targeting</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="btn-group btn-group-first" data-toggle="buttons">
								<label class="btn btn-primary">
									<input type="radio" name="options" id="option1"> On
								</label>
								<label class="btn btn-primary active">
									<input type="radio" name="options" id="option2"> Off
								</label>
							</div>
							All
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="btn-group btn-group-middle" data-toggle="buttons">
								<label class="btn btn-primary">
									<input type="radio" name="options" id="option3"> On
								</label>
								<label class="btn btn-primary active">
									<input type="radio" name="options" id="option4"> Off
								</label>
							</div>
							/terms
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="btn-group btn-group-last" data-toggle="buttons">
								<label class="btn btn-primary">
									<input type="radio" name="options" id="option9"> On
								</label>
								<label class="btn btn-primary active">
									<input type="radio" name="options" id="option10"> Off
								</label>
							</div>
							/contact
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 m-top">
							<form class="form-horizontal" role="form">
								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus-sign"></span> Add new path</button>
									</span>
									<input type="text" class="form-control">
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="panel-group" id="accordion-example-plus">
					<div class="panel panel-default">
						<div class="panel-heading link">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-example-plus" href="#collapseOne" class="collapsed">
									3rd Party Tracking <span class="glyphicon"></span>
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body">
								<textarea class="form-control" rows="3">Code here...</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
}
