@(publishers: Seq[Publisher], current: Admin)
@main("Dashboard") {
<ul class="nav navbar-nav">
	<li><a href="@routes.AdminController.admins">Admins</a></li>
	<li><a href="@routes.AdminController.current">My Account</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
	<li><a href="@routes.MainController.logout()" class="navbar-link">Logout @current.email (@current.name)</a></li>
</ul>
<script data-main="@routes.Assets.at("javascripts/dashboard.js")" type="text/javascript" src="@routes.WebJarAssets.requirejs"></script>
}{
<div class="container">
	<div id="chart" class="dashboard">
  		<svg></svg>
	</div>

	<article class="publishers">
		@publishers.map {
			case publisher => {
				<div class="publisher">
					<h2>@publisher.name</h2>
				</div>
			}
		}
	</article>
</div>
}
