@(publishers: Seq[Publisher], current: Admin)
@main("Dashboard") {
@menu.admin("Dashboard")
@menu.logout(current)
<script type="text/javascript" data-main="@routes.Assets.at("javascripts/dashboard.js")" src="@routes.WebJarAssets.requirejs"></script>
}{
<div class="header">
	<div class="container">
		<ul class="nav nav-tabs">
			<li><a href="#">Audiences</a></li>
			<li class="active"><a href="#">Campaigns</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row legends">
				<div class="col-sm-4">
					<div class="legend-revenu">
						<span></span> $5000 Revenue
					</div>
				</div>
				<div class="col-sm-4">
					<div class="legend-ad-spent">
						<span></span> $5000 Ad spend
					</div>
				</div>
				<div class="col-sm-4">
					<div class="legend-profit">
						<span></span> $3300 Profit
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<form class="form-horizontal" role="form">
						<div class="form-group well-fix">
							<label for="selectDate" class="col-sm-2 control-label">Dates</label>
							<div class="col-sm-10">
								<select class="form-control" data-bind="options: availableDateRanges, value: dateRange" id="selectDate">
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-8">
					<div class="well well-sm m-null input-daterange">
						<div class="row">
							<div class="col-sm-6">
								<form class="form-horizontal" role="form">
									<div class="form-group m-null">
										<label for="selectDateFrom" class="col-sm-2 control-label">From</label>
										<div class="col-sm-10">
											<input class="form-control date-picker" data-bind="value: formattedStartDate" id="selectDateFrom" name="start">
											</input>
										</div>
									</div>
								</form>
							</div>
							<div class="col-sm-6">
								<form class="form-horizontal" role="form">
									<div class="form-group m-null">
										<label for="selectDateTo" class="col-sm-2 control-label">To</label>
										<div class="col-sm-10">
											<input class="form-control date-picker" data-bind="value: formattedEndDate" id="selectDateTo" name="end">
											</input>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="chart" class="dashboard">
						<svg></svg>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Kampagne MegaAudiences läuft bald aus</div>
				<div class="panel-body">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="secondary">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-xs-6">
						<select class="form-control">
							<option>Status 1</option>
							<option>Status 2</option>
							<option>Status 3</option>
							<option>Status 4</option>
							<option>Status 5</option>
						</select>
					</div>
					<div class="col-xs-6">
						<form role="search">
							<div class="input-group">
								<input type="text" class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button">Search</button>
								</span>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<p class="pagination-fix"><strong>Displaying: 1 - 20 of 141</strong></p>
					</div>
					<div class="col-xs-6">
						<ul class="pagination pagination-sm pull-right">
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped table-bordered m-null">
								<tr>
									<th class="sorting">Name</th>
									<th class="sorting">Status</th>
									<th class="sorting-up">Revenue</th>
									<th class="sorting">Cost</th>
									<th class="sorting">Start</th>
									<th class="sorting-down">End</th>
								</tr>
								<tr>
									<td>Leads Con Web Retargeting</td>
									<td>11,83 %</td>
									<td>$534,76</td>
									<td>$4,35</td>
									<td>7/19/2013</td>
									<td>8/09/2013</td>
								</tr>
								<tr>
									<td>Leads Con Web Retargeting</td>
									<td>11,83 %</td>
									<td>$534,76</td>
									<td>$4,35</td>
									<td>7/19/2013</td>
									<td>8/09/2013</td>
								</tr>
								<tr>
									<td>Leads Con Web Retargeting</td>
									<td>11,83 %</td>
									<td>$534,76</td>
									<td>$4,35</td>
									<td>7/19/2013</td>
									<td>8/09/2013</td>
								</tr>
								<tr>
									<td>Leads Con Web Retargeting</td>
									<td>11,83 %</td>
									<td>$534,76</td>
									<td>$4,35</td>
									<td>7/19/2013</td>
									<td>8/09/2013</td>
								</tr>
								<tr>
									<td>Leads Con Web Retargeting</td>
									<td>11,83 %</td>
									<td>$534,76</td>
									<td>$4,35</td>
									<td>7/19/2013</td>
									<td>8/09/2013</td>
								</tr>
								<tr>
									<td>Leads Con Web Retargeting</td>
									<td>11,83 %</td>
									<td>$534,76</td>
									<td>$4,35</td>
									<td>7/19/2013</td>
									<td>8/09/2013</td>
								</tr>
								<tr>
									<td>Leads Con Web Retargeting</td>
									<td>11,83 %</td>
									<td>$534,76</td>
									<td>$4,35</td>
									<td>7/19/2013</td>
									<td>8/09/2013</td>
								</tr>
								<tr>
									<td>Leads Con Web Retargeting</td>
									<td>11,83 %</td>
									<td>$534,76</td>
									<td>$4,35</td>
									<td>7/19/2013</td>
									<td>8/09/2013</td>
								</tr>
								<tr>
									<td>Leads Con Web Retargeting</td>
									<td>11,83 %</td>
									<td>$534,76</td>
									<td>$4,35</td>
									<td>7/19/2013</td>
									<td>8/09/2013</td>
								</tr>
								<tr>
									<td>Leads Con Web Retargeting</td>
									<td>11,83 %</td>
									<td>$534,76</td>
									<td>$4,35</td>
									<td>7/19/2013</td>
									<td>8/09/2013</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<p class="pagination-fix"><strong>Displaying: 1 - 20 of 141</strong></p>
					</div>
					<div class="col-xs-6">
						<ul class="pagination pagination-sm pull-right">
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<p>
					<button type="button" class="btn btn-default btn-lg btn-block btn-plus" data-toggle="modal" data-target="#editAudience"><div></div><span class="glyphicon glyphicon-plus-sign"></span> New Campaign</button>
				</p>
				<p>
					<button type="button" class="btn btn-default btn-lg btn-block btn-plus"><div></div><span class="glyphicon glyphicon-plus-sign"></span> New Audience</button>
				</p>
				<p>
					<button type="button" class="btn btn-default btn-lg btn-block btn-plus"><div></div><span class="glyphicon glyphicon-plus-sign"></span> Yield Maximiser</button>
				</p>
				<p>
					<button type="button" class="btn btn-default btn-lg btn-block btn-plus"><div></div><span class="glyphicon glyphicon-plus-sign"></span> AD Packages</button>
				</p>
				<!--
				<article class="publishers">
					@publishers.map {
						case publisher => {
							<div class="publisher">
								<p>@publisher.name</p>
							</div>
						}
					}
				</article>
				-->
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="editAudience" tabindex="-1" role="dialog" aria-labelledby="New/Edit Audience" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">New/Edit Audience</h4>
			</div>
			<div class="modal-body">
				<p>
					Coming soon...
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
}
