@(admin: Admin)
@templates.public("Audience Extender", homelink = if(admin!=null)(routes.MainController.dashboard)else(routes.MainController.base)) {
<ul class="nav navbar-nav">
	<li><a class="scroll" href="#howitworks">How it works</a></li>
	<li><a class="scroll" href="#benefits">Benefits</a></li>
	<li><a class="scroll" href="#pricing">Pricing</a></li>
	<li><a class="scroll" href="#gettingstarted">Getting Started</a></li>
</ul>
@if(admin==null) {
	@menu.login()
} else {
	@menu.public(admin)
}
}{
<div class="scroll-buttons">
	<div>
		<a class="scroll-prev"><span class="glyphicon glyphicon-chevron-up"></span></a>
	</div>
	<div>
	 	<a class="scroll-next"><span class="glyphicon glyphicon-chevron-down"></span></a>
	</div>
</div>
<a name="welcome"></a>
<div class="head">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-7 col-sm-11">
				<h1>Monetize Your Online Audience Like Never Before ...</h1>
				<p>AudienceExtender helps Event Owners and Managers unleash the hidden revenue potential of their website visitors. Built specifically for B2B media companies by seasoned B2B media experts and advertising technology professionals.</p>
			</div>
			<div class="col-lg-6 col-md-5 visible-md visible-lg">
				<div class="head-img"><img alt="" src="@routes.RemoteAssets.at("images/bg-head-pair.png")" /></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<ul class="list-unstyled slides">
		<li>
			<a name="howitworks"></a>
			<div class="row m-btm border-btm">
				<div class="col-sm-8 col-sm-push-4">
					<h3>1. Get set up in less than 5 minutes...</h3>
					<p>Place a small snippet of HTML on your website. Your website looks the same. No changes required or made to your content.</p>
				</div>
				<div class="col-sm-4 col-sm-pull-8"><img alt="" src="@routes.RemoteAssets.at("images/how-it-works_01.png")" class="img-responsive" /></div>
			</div>
			<div class="row m-btm border-btm">
				<div class="col-sm-8">
					<h3>2. Share the new opportunity with your Exhibitors</h3>
					<p>With Audience Extender you have another arrow in your quiver to help your sponsors, exhibitors, and advertisers enhance their brand and grow their client base. Our custom built sales tools will help you easily sell access to your audience, with very little work.</p>
				</div>
				<div class="col-sm-4"><img alt="" src="@routes.RemoteAssets.at("images/how-it-works_02.png")" class="img-responsive" /></div>
			</div>
			<div class="row m-btm">
				<div class="col-sm-8 col-sm-push-4">
					<h3>3. Earn money in your sleep</h3>
					<p>"Fire and Forget": because Audience Extender enables you to make money off your audience wherever they are online, you earn money without having to worry about a thing.</p>
				</div>
				<div class="col-sm-4 col-sm-pull-8"><img alt="" src="@routes.RemoteAssets.at("images/how-it-works_03.png")" class="img-responsive" /></div>
			</div>
		</li>

		<li>
			<a name="benefits"></a>
			<h2 class="text-center">"Our unique tools help you monetize your high value audience as they surf other sites - maximum yield with minimum effort."</h2>
			<h4 class="text-center">--- FEATURES &amp; BENEFITS ---</h4>

			<div class="row">
				<div class="col-md-4">
					<p class="text-center">
						<img src="@routes.RemoteAssets.at("images/tag.png")" alt="" />
					</p>
					<h3 class="text-center">AUTOMATED WORKFLOWS</h3>
					<p class="text-center">( Ph D. not required )</p>
					<ul>
						<li>Easy to use tools allow you to provide full service to your advertisers with little effort. Power advertisers can book and manage their own campaigns using a self-service, fully branded, white-labeled interface.</li>
						<li>The Audience Extender "Yield Optimizer" ensures the highest value mix of campaigns are shown to your Audience.</li>
					</ul>
				</div>
				<div class="col-md-4">
					<p class="text-center">
						<img src="@routes.RemoteAssets.at("images/location.png")" alt="" />
					</p>
					<h3 class="text-center">SMART SALES TOOLS</h3>
					<p class="text-center">( work less + earn more )</p>
					<ul>
						<li>Pricing Assistant to help you quickly create packages specific to the needs of your exhibitors, weather they be large or small (i.e. fix price, cpm etc)</li>
						<li>Audience Management tools tell your sales staff exactly how many advertiser campaigns are available, and how many are required to generate optimal revenue yield.</li>
					</ul>
				</div>
				<div class="col-md-4">
					<p class="text-center">
						<img src="@routes.RemoteAssets.at("images/heart.png")" alt="" />
					</p>
					<h3 class="text-center">GUARANTEED PROFITS</h3>
					<p class="text-center">( sleep better )</p>
					<ul>
						<li>Campaigns only run when you want and only when you have advertisers scheduled. You can never spend money without having made money first. Costs are always controlled and mapped to revenue. Yield Optimizer makes sure your advertisers get what they need and that you make the most possible.</li>
					</ul>
				</div>
			</div>
		</li>

		<li>
			<a name="pricing"></a>
			<h2 class="text-center">"Holistic audience monetization": Pay a fair revenue share to automatically run the most profitable campaigns.</h2>
			<p class="text-center">Should you boost ticket sales, generate additional qualified buyers or show more sponsor messages?<br />Máking the most of your audience is difficult when there are so many competing options.</p>
			<p class="text-center">AudienceExtender take cares of the heavy lifting.and automatically manages the mix.<br />Revenues are maximized by showing highest yield campaigns to the right users at the right time.</p>
			<p class="text-center"><strong>Your profits are guaranteed - and you pay only a fair revenue share of these profits.</strong></p>
			<h3 class="text-center">
				1. Lightening Fast Integration<br /><br />
				2. Fair revenue sharing with no fix costs<br /><br />
				3. Generation of additional incremental revenues<br /><br />
				4. Greater Profits and Zero Risk<br /><br />
				=<br /><br />
				Audience Extender
			</h3>
		</li>

		<li>
			<a name="gettingstarted"></a>
			<h2 class="text-center">Let's monetize together</h2>
			<p class="text-center">Reach out today, and find out what you could be earning tomorrow.</p>
			<p class="text-center">Call us at <strong>+1 (917) 934-3019</strong> or fill in the below form and we'll get back to you.</p>
@helper.form(routes.MainController.sendMessage, 'class -> "form-horizontal form-contact", 'role -> "form") {
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" placeholder="Name" class="form-control" id="name" name="name" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" required="" placeholder="Email" class="form-control" id="email" name="email" value="">
					</div>
				</div>
				<div class="form-group">
					<label for="msg" class="col-sm-2 control-label">Message</label>
					<div class="col-sm-10">
						<textarea placeholder="Message" required="" class="form-control" id="msg" name="msg"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary" id="sendbutton">Send Message</button>
					</div>
				</div>
}
		</li>
	</ul>
</div>
}
