@(form: play.api.data.Form[(String,String)])(implicit flash:
play.api.mvc.Flash) @main("Login") { } {
@helper.form(routes.MainController.authenticate, 'class -> "form-signin") {
	<h2 class="form-signin-heading">Please sign in</h2>

	@form.globalError.map { error =>
	<div class="alert alert-danger">@error.message</div>
	} @flash.get("success").map { message =>
	<div class="alert alert-success">@message</div>
	}
	<input type="email" autofocus="" required="" placeholder="Email" class="form-control" id="email" name="email" value="@form("email").value">
	<input type="password" required="" placeholder="Password" class="form-control" id="password" name="password">
	<button type="submit" class="btn btn-lg btn-primary btn-block" id="loginbutton">Sign in</button>
}
}
