@(title: String)(header: Html)(content: Html)
<!DOCTYPE html>
<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen"
	href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))"
>
<link rel="stylesheet" media="screen"
	href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-theme.css"))"
>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script data-main="@routes.Assets.at("javascripts/app.js")" type="text/javascript"
	src="@routes.WebJarAssets.requirejs"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-inverse loginbar" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">@title</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex4-collapse">
			@header
	</nav>
	<div class="container">@content</div>
</body>
</html>
