@(publishers: Seq[Publisher], current: Admin)
@templates.main("Publishers") {
@menu.admin("Publishers")
@menu.logout(current)
@helper.requireJs(core = routes.WebJarAssets.requirejs.url, module = routes.Assets.at("javascripts/publishers.js").url)
<script type="text/javascript">
	//<![CDATA[
	window.data = {};
	window.data.publishers = @{import play.api.libs.json._;import controllers.PublisherController.PublisherFormat;Html(Json.toJson(publishers).toString());}
	//]]>
</script>
} {
<div class="container m-top">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				@elements.pagination("datatablescroller")
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped table-bordered data-table" data-bind="datatable: datatable, datatableScroller: datatablescroller, datatableOptions: { aoColumns: [ { sType: 'string' }, { sType: 'string' } ], rowClick: selectpublisher }">
							<thead>
								<tr>
									<th class="sorting">Name</th>
									<th class="sorting">Admins</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				@elements.pagination("datatablescroller")
			</div>
		</div>
		<div class="col-md-3">
			<p>
				<button type="button" class="btn btn-default btn-lg btn-block btn-plus" data-toggle="modal" data-target="#editPublisher"><div></div><span class="glyphicon glyphicon-plus-sign"></span> New Publisher</button>
			</p>
		</div>
	</div>
</div>
@parts.publisheredit()
@elements.modalalert("alert")
}
